.header {
    background-color: #292929;
    width: 100%;
    /* height: 6rem; */
    position: fixed;
    z-index: 5;
}

.messageUser:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 40px;
}

.messageUserOn {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 40px;
}

.shopBg {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(58,59,91,1) 0%, rgba(139,168,143,1) 70%, rgb(176, 196, 179) 100%);
}

.shopBgX {
  height: 100%;
  background: linear-gradient(180deg, rgba(58,59,91,1) 0%, rgba(139,168,143,1) 89%, rgba(139,168,143,1) 100%);
}

.shopBgCard {
  background: linear-gradient(180deg, rgba(58,59,91,1) 0%, rgba(139,168,143,1) 70%, rgba(139,168,143,1) 100%);
}

.infBg {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(88,114,144,1) 35%, rgba(137,188,208,1) 100%);
}

.infBgCard {
  background: linear-gradient(180deg, rgba(57,58,94,1) 0%, rgba(88,114,144,1) 35%, rgba(137,188,208,1) 100%);
}

.senderMsg {
  color: white;
  border-radius: 15px;
  max-width: 40%;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.msgDate {
  font-weight: 200;
  color: white;
  font-size: 11px;
  max-width: 40%;
  width: fit-content;
}

.receiverMsg {
  background-color: #a1a4ba;
  color: white;
  border-radius: 15px;
  max-width: 40%;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon {
}

.btnInf {
  background-color: #78A4B9 !important;
  border-color: #78A4B9 !important;
  border-radius: 20px !important;
}

.btnShop {
  background-color: #7EB681 !important;
  border-color: #7EB681 !important;
  border-radius: 20px !important;
}

.btnInfDelete {
  background-color: #DD3444 !important;
  border-color: #DD3444 !important;
  border-radius: 20px !important;
}

.btnCancel {
  background-color: #B2B2B2 !important;
  border-color: #B2B2B2 !important;
  border-radius: 20px !important;
}

.underlineLabel {
  border-bottom: 0.2px solid #414769;
  color: white;
  display: inline-block;
  width: 200px;
  padding-bottom: 8px;
}

.neoLogo:hover {
  cursor: pointer;
}

.inputComment {
  border-width: 0 !important;
  border-bottom: 0.3px solid grey !important;
  border-radius: 20px !important;
}

.logo {
    margin: 0.5rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.pointerClick {
  cursor: pointer;
}

.editIcon:hover {
  cursor: pointer;
}

.pill {
  background-color: grey !important;
  color: white;
}

.cardlist:hover{
  cursor: pointer;
}

.header-btn {
    float: right;
    position: relative;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.375rem;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    border-left: 0.1rem solid white;
}

.header-btn:hover {
    text-shadow: 0 0 20px #ffffff;
}

.header-btn:active {
    text-shadow: 0 0 20px #ffffff;
}

.landing-page-background-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 872px;
    position: relative;
    background-attachment: scroll;
}

.landing-page-mid-div {
    display: block;
    position: relative;
    margin: auto;
    z-index: 2;
    height: auto;
    width: 52rem;
    background-color: white;
    text-align: center;
}

.landing-page-first-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 100%;
    height: 350px;
}

.aside {
    background-color: #292929;
    width: 200px;
    height: 100%;
    padding-top: 0.7rem;
    position: fixed;
    box-shadow: 0 0 12px;
    z-index: 12;
}

.aside-button {
    background-color: transparent;
    transition-duration: 2ms;
    border: none;
    border-bottom: 0.1rem solid white;
    text-align: center;
    font-size: 1.02rem;
    height: 50px;
    margin-top: 25px;
    width: 160px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    cursor: pointer;
}

.aside-button:hover {
    background-color: rgb(0, 0, 0, 0.2);
    transition-duration: 1s;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 25px;
    width: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.aside-button-fab {
    width: 200px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: 0 0;
}

.aside-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.formular {
    text-align: center;
    margin-top: 2rem;
}

.formular-input {
    background-color: #d23e3e;
}

.inscription-modal {
    height: 500px;
    width: 500px;
    background-color: white;
    align-self: center;
    margin-top: 400px;
}

.connection-btn {
    height: 54px;
    float: right;
    margin: 3px;
    marginRight: 15px;
    background-color: white;
}

.advertisements {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.advertisements-card {
    text-align: Left;
}

.advertisements-list {
    margin: 20px;
}

.ads {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.influencer-status {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about-faq {
    text-align: left;
    padding-top: 30px;
    color: white;
    overflow: auto;
    height: 100%;
}

.input-form {
    margin-bottom: 20px;
}

.input-form Input{
    width: 350px;
}

.influencer-status-card-item {
    box-shadow: 0 0;
}

.influencer-status-card-media {
    transition-duration: 1s;
    width: 120px;
    height: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.influencer-status-card-media:hover {
    transition-duration: 1s;
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.posted-ad-send-button {
    width: 9.375rem;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    margin-top: 1.875rem;
    background-color: #292929;
}

.findShopCard {
    height: auto;
    box-shadow: #807e7e 2px 2px 8px;
    margin: 50px;
    border-radius: 6px;
    background-color: #ebebeb;
}

.findShopCard:hover {
    height: auto;
    box-shadow: #807e7e 2px 2px 15px ;
    margin: 50px;
    border-radius: 6px;
    background-color: #ebebeb;
}

.iconProfileSocial {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
}

.sideBarTxt {
  color: white;
  font-weight: 400;
}

.sideBarTxt:hover {
  font-weight: 700;
  color: white;
}

.sideBarTxt-active {
  font-weight: 700;
  color: white;
}

.sideBarTxt-active:hover {
  color: white;
}

.nav-item-sidebar:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 40px;
}

.nav-item-sidebar-active {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 40px;
}


.sidenav {
  height: 100%;
}

.offerTitle {
  color: white;
}

.offerBg {
  background-color: rgba(185,185,185,0.15);
  border-radius: 15px;
}
