.landing-page {
    height: 100%;
    position: relative;
}

.header {
    background-image: linear-gradient(65deg, #712121, #982d2d, #ff4343, #982d2d, #712121);
    width: 100%;
    height: 75px;
}

.logo {
    margin-top: -0.5rem;
    margin-left: 1.375rem;
    width: 5rem;
    height: 5rem;
}

.header-btn {
    float: right;
    position: relative;
    margin: 1rem;
    font-size: 1.375rem;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    border-left: 0.1rem solid white;
}

.header-btn:hover {
    text-shadow: 0 0 20px white;
    font-size: 1.45rem;
}

.landing-page-background-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 872px;
    position: relative;
    background-attachment: scroll;
}

.landing-page-mid-div {
    display: block;
    position: relative;
    margin: auto;
    z-index: 2;
    height: auto;
    width: 52rem;
    background-color: white;
    text-align: center;
}

.landing-page-first-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 100%;
    height: 350px;
}

.aside {
    background-image: linear-gradient(65deg, #e86868, #d64f4f, #d64f4f);
    width: 200px;
    height: 100%;
    position: fixed;
    box-shadow: 0 0 12px;
    z-index: 12;
}

.aside-button {
    background-color: transparent;
    transition-duration: 2ms;
    border: none;
    border-bottom: 0.1rem solid white;
    text-align: center;
    font-size: 1.02rem;
    height: 50px;
    margin-top: 25px;
    width: 160px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.aside-button:hover {
    background-color: rgb(0, 0, 0, 0.2);
    transition-duration: 1s;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 25px;
    width: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: white;
}

.aside-button-fab {
    width: 200px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: 0 0;
}

.aside-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.formular {
    text-align: center;
    margin-top: 60px;
}

.formular-input {
    background-color: #d23e3e;
}

.inscription-modal {
    height: 500px;
    width: 500px;
    background-color: white;
    align-self: center;
    margin-top: 400px;
}

.connection-btn {
    height: 54px;
    float: right;
    margin: 3px;
    marginRight: 15px;
    background-color: white;
}

.advertisements {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.advertisements-card {
    text-align: Left;
}

.advertisements-list {
    margin: 20px;
}

.ads {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.influencer-status {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.about-faq {
    text-align: left;
    padding-top: 30px;
    color: white;
}

.input-form {
    margin-bottom: 20px;
}

.input-form Input{
    width: 350px;
}

.influencer-status-card-item {
    box-shadow: 0 0;
}

.influencer-status-card-media {
    transition-duration: 1s;
    width: 120px;
    height: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.influencer-status-card-media:hover {
    transition-duration: 1s;
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.posted-ad-send-button {
    width: 150px;
    height: 30px;
    border-radius: 30px;
    margin-top: 30px;
    background-Image: linear-gradient(65deg, #e86868, #d64f4f, #d64f4f);
}